
body{
    max-width: 1600px;
    margin: 0 auto;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-taitel{
    font-weight: 800;
    font-size: 45px;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.secendari-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
/* header style */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 140px;
}
nav li{
    list-style-type: none;
    margin: 51px;
}

nav ul {
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
}
/* Beaner style */
.beaner{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 200px;
}
.beaner-greedings{
    font-weight: 600;
    font-size: 45px;
}
.beaner-taitel{
    font-weight: bold;
    font-size: 85px;
}
.banear-profile-pic{
    width: 584px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about section styles */
.about-section{
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
}
.section-titel{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #181818;
}
.section-dic{
    font-size: 18px;
}
/* about items */
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-describtion{
    font-weight: bold;
    font-size: 20px;
}
.item-titel{
    font-size: 20px;
    color: #757575;
    margin-bottom: 0%;
} 
/* What i do section styles */

.skills-cointeinar{
    display: flex;
    gap: 24px;
}
.skill-titel{
    font-weight: bold;
    font-size: 20px;
}
.skill-describtion{
    font-size: 20px;
    color: #757575;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #000000;
    border-radius: 10px;
}
.section-dec-p{
    max-width: 70%;
}